body {
    display: grid;
    justify-content: center;
    margin-top: 30vh;

}
#container {
    border: 2px solid black;
    border-radius: 10px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    background-color: #1E1F22;
    text-align: center;
    color: aliceblue;
}

#image {

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#image img {
    margin: auto;
    width: 150px;
}

#inpu {
    width: 84%;
    font-size: large;
    height: 30px;
    border: 2px solid black;
    border-radius: 3px;
}

#botDiv {
    display: flex;
    justify-content: space-around;
}

#enviar {
    width: 35px;
    font-size: large;
    border: 2px solid black;
    border-radius: 3px;
    background-color: #6d0470;
    color: black;
}