*{
    padding: 0px;
    margin: 0px;
    background-color: rgba(0,0,0,0);
    scrollbar-width: 0;
}

*::-webkit-scrollbar{
    width: 0px;
}

#cuerpo{
    position: relative;
    z-index: 0;
    height: 100vh;
    width: 100%;
}

#contenedorBarraMensaje{
    position: fixed;
    bottom: 0;
    background-color: #383A40;
    height: max-content;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    box-sizing: border-box;
}

#formulario {
    padding: 0px;
    margin: 0px;
    width: 90%;
    height: fit-content;
    box-sizing: border-box;
}

#cajaMensaje{
    background-color: transparent;
    color: lavender;
    border: 1px solid black;
    width: 100%;
    padding: .5rem;
    height: 2rem;
    max-height: 6rem;
    border-radius: 20px;
    overflow: hidden;
    overflow-y: scroll;
    display: inline-block;
    scrollbar-width: 0;
    resize: none;
    box-sizing: border-box;
}

#contenido {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

#mensajes {
    width: 100%;
    box-sizing: border-box;
    padding: 1%;
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
}

.propio {
    margin-left: auto;
    color: blueviolet;
}

.ajeno {
    margin-right: auto;
    color: orange;
    background-color: rgb(109, 4, 112, 0.55) !important;
}

.mensaje {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    width: fit-content;
    height: min-content;
    background-color: #383a40a8;
    max-width: 48%;
    margin-top: 10px;
}

.contenedorTexto{
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

.imagen{
    width: fit-content;
    max-width: 100%;
    display: inline-block;
}

.texto {
    color: aliceblue;
    height: fit-content;
    font-size: 16px;
}

.remitente {
    font-size: 14px;
    margin-bottom: 2px;
}

.horaMensaje{
    float: right;
    margin-top: 2px;
    margin-right: 2px;
}

.horaMensaje > span{
    color: gray;
}

.contFuncionBarra{
    display: inline-block;
    padding: 5px;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid white;
}

.funcionBarra{
    color: white;
    font-weight: bolder;
    font-size: 20px;
}

.enter{
    background-color: #DD1789;
    display: flex;
    align-items: center;
    justify-content: center;
}

.enter >img{
    height: 16px;
    width: 24.64px;
}

.oculto{
    display: none !important;
}

#pantallaRecurso{
    background-color: transparent;
    backdrop-filter: blur(2px);
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    z-index: 66;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cerrarRecurso{
    color: white;
    border-radius: 50%;
    box-sizing: border-box;
    border: 1px solid white;
    font-family: Georgia;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    top: 6px;
    right: 6px;
    cursor: pointer;
}

#interfazRecurso{
    background-color: #313338;
    box-sizing: border-box;
    height: 40vmin;
    width: 40vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
    border-radius: 6px;
    border: 1px solid white;
}

#interfazRecurso > form{
    text-align: center;
}

#interfazRecurso > form > label{
    font-weight: bold;
}

#interfazRecurso > form > input[type="file"]{
    color: white;
    text-decoration: underline;
    font-weight: bold;
}

#interfazRecurso > form > input[type="submit"]{
    box-sizing: border-box;
    padding: 6px;
    color: white;
    font-weight: bold;
    margin-top: 2rem;
}

p {
    text-decoration: none;
}
