*{
    padding: 0px;
    margin: 0px;
    background-color: rgba(0,0,0,0);
}

#cuerpo{
    position: relative;
    z-index: 0;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

[contentEditable=true]:empty:before{
    content:attr(placeholder)
}

#contenedorBarraMensaje{
    position: fixed;
    bottom: 0;
    background-color: #383A40;
    height: max-content;
    width: 99%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

#cajaMensaje{
    background-color: transparent;
    color: lavender;
    border: 1px solid black;
    width: 90%;
    max-width: 98%;
    height: fit-content;
    padding: .5rem;
    min-height: 1rem;
    max-height: 6rem;
    border-radius: 20px;
    overflow: hidden;
    overflow-y: scroll;
    display: inline-block;
}

#cajaMensaje::-webkit-scrollbar{
    display: none;
}

#contenido::-webkit-scrollbar{
    display: none;
}

#contenido {
    display: grid;
    grid-template-rows: 92fr 8fr;
    width: 100%;
    overflow-x: hidden;
}

#mensajes {
    width: 98%;    
    margin-left: 1%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 4rem;
}

.mensaje {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    width: fit-content;
    background-color: #383a40a8;
    max-width: 45%;
}

.propio {
    margin-left: auto;
    color: chocolate;
}
.ajeno {
    margin-right: auto;
    color: blueviolet;
}

.texto {
    color: aliceblue;
}

.remitente {
    font-size: smaller;
    margin-bottom: 2px;
}

#formulario {
    display: none;
}

.contFuncionBarra{
    display: inline-block;
    padding: 5px;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid white;
}

.funcionBarra{
    color: white;
    font-weight: bolder;
    font-size: 20px;
}

.enter{
    background-color: #DD1789;
    display: flex;
    align-items: center;
    justify-content: center;
}

.enter >img{
    height: 16px;
    width: 24.64px;
}