*{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

#cuerpo{
    display: grid;
    grid-template-rows: 100px calc(100vh - 200px) 100px;
    grid-template-columns: 230px 1fr;
    grid-template-areas:
        "logo cabecera cabecera"
        "menu contenido contenido"
        "perfil contenido contenido"
    ;
}

#cabecera{
    grid-area: cabecera;
    background-color: #313338;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cabecera > p{
    color: #F2F3F4;
    font-size: 20px;
    margin: 0px;
}

#contendedorLogo{
    grid-area: logo;
    background-color: #313338;
}

#contendedorLogo > a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

#logo{
    align-self: center;
    justify-self: center;
    width: 85%;
    height: 50%
}

#barraLateral{
    grid-area: menu;
    background-color: #1E1F22;
}

#barraLateral > ul{
    padding: 0pc;
}

#barraLateral > ul > li{
    background-color: black;
    color: #F2F3F4;
    margin: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
}

.oculto{
    display: none;
}

.desplegableVisible{
    background-color: #232428;
    color: #F2F3F4;
    margin: -20px 20px 20px 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

#contenido{
    grid-area: contenido;
}

#contenido > iframe{
    width: 100%;
    height: 100%;
    border: none;
}

#perfil{
    grid-area: perfil;
    background-color: #232428;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

#contendedorInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#engranaje{
    height: 4vmin;
    width: 4vmin;
    min-height: 30px;
    min-width: 30px;
}

#usuario{
    height: 7vmin;
    width: 7vmin;
    min-height: 50px;
    min-width: 50px;
    max-height: 90px;
    max-width: 90px;
}

#nombre{
    font-weight: bolder;
    color: #F2F3F4;
    margin: 0px;
}

#id{
    color: lightgrey;
    margin: 0px;
}
